<nav class="shadow-lg p-3 mb-4 bg-body rounded navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="shadow-sm p-3 bg-body rounded navbar-brand" href="#">RXJS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="shadow-sm p-3 bg-body rounded collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav nav-fill">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" [routerLink]="['home']"
             routerLinkActive="active">
            Home
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" [routerLink]="['basic-operators']"
             routerLinkActive="active">
            Basic-Operators
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" [routerLink]="['intermediate-operators']"
             routerLinkActive="active">
            Intermadiate-Operators
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" [routerLink]="['advanced-operators']"
             routerLinkActive="active">
            Advanced-Operators
          </a>
        </li>
        <!--<li class="nav-item dropdown">
          <a id="navbarDropdownMenuLinkk" [routerLink]="['basic-operators']" class="nav-link dropdown-toggle"
             data-bs-toggle="dropdown" role="button" aria-expanded="false">
            Basic-Operators <span class="caret"></span>
          </a>
          <ul class="nav-item dropdown-menu" aria-labelledby="navbarDropdownMenuLinkk">
            <li routerLinkActive="active">
              <a class="dropdown-item" [routerLink]="['basic-operators']">Recipes</a>
            </li>
            <li><a class="dropdown-item" href="#">Page 1-1</a></li>
            <li><a class="dropdown-item" href="#">Page 1-2</a></li>
            <li><a class="dropdown-item" href="#">Page 1-3</a></li>
          </ul>
        </li>-->
      </ul>
    </div>
  </div>
</nav>
<div class="b-example-divider"></div>
