<ul class="nav flex-column nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" [routerLink]="['range']"
       [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"> Range
      Operator </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" [routerLink]="['of']"
       [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"> Of
      Operator </a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
