
<!--

<nav mat-tab-nav-bar >
  <a mat-tab-link *ngFor="let link of links;"
     [href]="link"
     (click)="activeLink = link"
     [active]="activeLink == link"> {{link}} </a>
</nav>
-->

<!--<div class="d-flex bd-highlight">
  <div class="d-inline-flex p-2 border border-dark rounded">I'm an inline flexbox container!I'm an inline flexbox
    container!I'm an inline flexbox container!
  </div>
  <div class="d-flex p-2 border border-dark rounded">I'm an inline flexbox container!</div>
  <div class="p-2 flex-grow-1 bd-highlight border border-dark rounded">Flex itemFlex itemFlex itemFlex itemFlex item
  </div>
  <div class="p-2 w-100 bd-highlight border border-dark rounded">Flex item</div>
  <div class="p-2 flex-shrink-1 bd-highlight border border-dark rounded">Flex itemFlex itemFlex itemFlex itemFlex item
  </div>
</div>-->

<!--<app-side-nav></app-side-nav>-->
<div class="d-flex bd-highlight">
  <div class="shadow-lg p-3 mb-5 bg-body rounded p-2 flex-shrink-1 bd-highlight">
    <app-basic-operators-nav-bar></app-basic-operators-nav-bar>
  </div>
  <div class="shadow-lg p-3 mb-5 bg-body rounded p-2 w-100 bd-highlight">
    <router-outlet></router-outlet>
  </div>
</div>

<!--
<nav mat-tab-nav-bar backgroundColor="primary" color="accent">
  <a mat-tab-link [routerLink]="'range'" (click)="activeLink = 'range'"> Range
    Operator </a>
  <a mat-tab-link href="#" (click)="activeLink = 'B'" [active]="activeLink == 'B'"> Tab B </a>
  <a mat-tab-link href="#" (click)="activeLink = 'C'" [active]="activeLink == 'C'"> Tab C </a>
  <a mat-tab-link disabled>Disabled Tab</a>
</nav>
<mat-tab-group headerPosition="above" dynamicHeight [selectedIndex]="active" animationDuration="100ms">

  &lt;!&ndash;
  <mat-tab label="First" [routerLink]="['/range']"></mat-tab>
  <mat-tab label="Second"> Tab Panel 2 </mat-tab>
  <mat-tab label="Third"> Tab Panel 3 </mat-tab>
  <mat-tab label="Four"> Tab Panel 4 </mat-tab>&ndash;&gt;
</mat-tab-group>
-->




<!--
<div class="dropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="dropdownMenuButton1"
    data-bs-toggle="dropdown"
    aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>-->
